let mapleader = " ""

" Basic settings
"
set number
set relativenumber
set incsearch

" vimrc
"
nnoremap <leader>vr :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <leader>ve :e ~/.ideavimrc<CR>

" Window/Split management
"
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c-w><c-m> :action MoveEditorToOppositeTabGroup<CR>
nnoremap <c-w><c-x> :action HideAllWindows<CR>

" Navigation
"
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gk :action GotoClass<CR>
nnoremap <leader>gs :action GotoSymbol<CR>
nnoremap <leader>gr :action RecentFiles<CR>
nnoremap <leader>gh :action Switcher<CR>
nnoremap <leader>gp :action SwitcherNextProblem<CR>
nnoremap <leader>gP :action SwitcherPreviousProblem<CR>


" Git / VCS
"
nnoremap <leader>va :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>vb :action Git.Branches<CR>
nnoremap <leader>vB :action Annotate<CR>
nnoremap <leader>vp :action Git.Pull<CR>
nnoremap <leader>vP :action Git.Push<CR>
nnoremap <leader>vf :action Git.Fetch<CR>


" Quick Actions
"
noremap <leader>ce :action ShowErrorDescription<CR>
noremap <leader>cd :action QuickJavaDoc<CR>
noremap <leader>cs :action FileStructurePopup<CR>
noremap <leader>cr :action Refactorings.QuickListPopupAction<CR>
noremap <leader>cu :action ShowUsages<CR>
noremap <leader>cU :action FindUsages<CR>
nnoremap <leader>ct :action GotoTest<CR>
noremap <leader>tt :action ActivateTerminalToolWindow<CR>

" Project View
"
nnoremap <leader>pf :action SelectInProjectView<CR>
nnoremap <leader>pr :action ManageRecentProjects<CR>

" Tool Windows
"
nnoremap <leader>tt :action ToolWindowsGroup<CR>
nnoremap <leader>tT :action MaximizeToolWindow<CR>
nnoremap <leader>tc :action ActivateCommitToolWindow<CR>
nnoremap <leader>tr :action ActivateRunToolWindow<CR>
nnoremap <leader>td :action ActivateDebugToolWindow<CR>
nnoremap <leader>tp :action ActivateProblemsViewToolWindow<CR>
nnoremap <leader>tg :action ActivateVersionControlToolWindow<CR>

" Run
"
nmap <leader>rr :action ChooseRunConfiguration<CR>
nmap <leader>rw :action ActivateRunToolWindow<CR>
nmap <leader>rR :action Rerun<CR>

" Plugins
"
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'

" IDE-specific settings
"

if has('ide')
  if &ide =~ 'RubyMine'
  endif
  elseif &ide =~ 'pycharm'
  endif
endif


" Find more examples here: https://jb.gg/share-ideavimrc
" :actionlist <query>
