let mapleader = " ""

" Basic settings
"
set number relativenumber
set incsearch
set showmode


" vimrc
"
nnoremap <leader>vR :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <leader>ve :e ~/.ideavimrc<CR>

" Window/Split management
"
nnoremap \ :action SplitVertically<CR>
nnoremap <c-w><c-m> :action MoveEditorToOppositeTabGroup<CR>
nnoremap <c-w><c-w> :action MaximizeEditorInSplit<CR>
nnoremap <c-w><c-x> :action HideActiveWindow<CR>
nnoremap <c-w><c-X> :action HideAllWindows<CR>
nnoremap <c-w><c-o> :action CloseAllEditorsButActive<CR>
nnoremap ++ :action StretchSplitToRight<CR>
nnoremap -- :action StretchSplitToLeft<CR>

" Navigation
"
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gk :action GotoClass<CR>
nnoremap <leader>gs :action GotoSymbol<CR>
nnoremap <leader>gr :action RecentFiles<CR>
nnoremap <leader>gh :action Switcher<CR>
nnoremap <leader>gp :action GotoPreviousError<CR>
nnoremap <leader>gP :action GotoNextError<CR>
nnoremap <leader>gcl :action JumpToLastChange<CR>
nnoremap <leader>gcn :action JumpToNextChange<CR>

" File
"
nnoremap <leader>fr :action CopyReferencePopupGroup<CR>

" Editing
"
imap <C-n> <ESC>:action HippieCompletion<CR>s
imap <C-p> <ESC>:action HippieBackwardCompletion<CR>s

" Git / VCS
"
nnoremap <leader>va :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>vb :action Git.Branches<CR>
nnoremap <leader>vB :action Annotate<CR>
nnoremap <leader>vp :action Git.Pull<CR>
nnoremap <leader>vP :action Git.Push<CR>
nnoremap <leader>vf :action Git.Fetch<CR>
nnoremap <leader>vd :action Vcs.ShowDiffChangedLines<CR>
nnoremap <leader>vD :action Compare.SameVersion<CR>
nnoremap <leader>vG :action Github.Copy.Link.To.GitHub<CR>
nnoremap <leader>vg :action Github.Open.In.Browser<CR>
noremap <leader>vr :action Vcs.RollbackChangedLines<CR>


" Quick Actions
"
noremap <leader>ce :action ShowErrorDescription<CR>
noremap <leader>cd :action QuickJavaDoc<CR>
noremap <leader>cs :action FileStructurePopup<CR>
noremap <leader>cr :action Refactorings.QuickListPopupAction<CR>
noremap <leader>cu :action ShowUsages<CR>
noremap <leader>cU :action FindUsages<CR>
nnoremap <leader>ct :action GotoTest<CR>
nmap <leader>cn :action VcsShowNextChangeMarker<CR>
nmap <leader>cp :action VcsShowPrevChangeMarker<CR>
nmap <leader>cc :action VcsShowCurrentChangeMarker<CR>
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Debug
"
nnoremap <leader>dd :action ToggleLineBreakpoint<CR>
nnoremap <leader>do :action StepOver<CR>
nnoremap <leader>dO :action StepOut<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>dr :action Resume<CR>
nnoremap <leader>dm :action XDebugger.MuteBreakpoints<CR>



" Project View
"
nnoremap <leader>pf :action SelectInProjectView<CR>
nnoremap <leader>pr :action ManageRecentProjects<CR>

" Tasks and Projects
"
nnoremap <leader>kk :action tasks.and.contexts<CR>
nnoremap <leader>ks :action tasks.switch<CR>

" Tool Windows
"
noremap <leader>T :action MainToolBar<CR>
nnoremap <leader>tw :action ToolWindowsGroup<CR>
map <leader>tm :action MaximizeToolWindow<CR>
nnoremap <leader>tc :action ActivateCommitToolWindow<CR>
nnoremap <leader>tr :action ActivateRunToolWindow<CR>
nnoremap <leader>td :action ActivateDatabaseToolWindow<CR>
nnoremap <leader>tb :action ActivateDebugToolWindow<CR>
noremap <leader>tf :action ActivateProjectToolWindow<CR>
nnoremap <leader>tp :action ActivateProblemsViewToolWindow<CR>
noremap <leader>tt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>tv :action ActivateVersionControlToolWindow<CR>

" Run
"
noremap <leader>rr :action ChooseRunConfiguration<CR>
noremap <leader>rw :action ActivateRunToolWindow<CR>
noremap <leader>R :action Rerun<CR>
noremap <leader>rs :action Stop<CR>
noremap <leader>ra :action RunAnything<CR>

" Plugins
"
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'


" IDE-specific settings
"

if has('ide')
  if &ide =~ 'RubyMine'
  endif
  elseif &ide =~ 'pycharm'
  endif
endif


" Find more examples here: https://jb.gg/share-ideavimrc
" :actionlist <query>
